<div class="article">
    <div class="container">
        <div class="row">
            <div itemscope itemtype="http://schema.org/Article" class="col-lg-10 col-lg-offset-1">
                <p><img alt="Cees-Jan" class="img-circle" src="/images/photo-cj.jpg" width="50px" height="50px"> <ba><a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" target="_blank" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Cees-Jan Kiewiet</span></a></ba></p>
                <p>
                    <bd>
                        {% if post.date_updated is defined and post.date_updated is not empty %}
                            <time itemprop="dateUpdated" content="{{ post.date_updated|date('c') }}" datetime="{{ post.date_updated|date('c') }}">
                                Updated on: <span class="day">{{ post.date_updated|date('j') }}</span>&nbsp;<span class="month">{{ post.date_updated|date('F') }}</span>&nbsp;<span class="year">{{ post.date_updated|date('Y') }}</span>
                            </time>
                            <time itemprop="datePublished" content="{{ post.date|date('c') }}" datetime="{{ post.date|date('c') }}">
                                (Originally posted on: <span class="day">{{ post.date|date('j') }}</span>&nbsp;<span class="month">{{ post.date|date('F') }}</span>&nbsp;<span class="year">{{ post.date|date('Y') }}</span>)
                            </time>
                        {% else %}
                            <time itemprop="datePublished" content="{{ post.date|date('c') }}" datetime="{{ post.date|date('c') }}">
                                <span class="day">{{ post.date|date('j') }}</span>&nbsp;<span class="month">{{ post.date|date('F') }}</span>&nbsp;<span class="year">{{ post.date|date('Y') }}</span>
                            </time>
                        {% endif %}
                    </bd>
                </p>
                {% if index %}
                    <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
                {% else %}
                    <h4>{{ post.title }}</h4>
                {% endif %}

                {% if index %}
                    {{ post.blocks.content|split('<!-- More -->', 2)[0]|raw }}
                    <br />
                    <a rel="full-article" href="{{ site.url }}{{ post.url }}">Read on &rarr;</a>
                {% else %}
                    <span itemprop="articleBody">
                        {{ post.blocks.content|raw }}
                    </span>
                    <hr />
                    <div class="sharing">
                        {% if site.twitter_tweet_button %}
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
                        {% endif %}
                        {% if site.google_plus_one %}
                            <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
                        {% endif %}
                        {% if site.facebook_like %}
                            <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
                        {% endif %}
                        {% if site.flattr_uid %}
                            <a class="FlattrButton" style="display:none;"
                               title="{{ page.title }}"
                               data-flattr-uid="{{ site.flattr_uid }}"
                               data-flattr-tags="text, opensource"
                               data-flattr-category="text"
                               data-flattr-language="{{ site.flattr_language }}"
                               data-flattr-button="compact"
                               href="{{ site.url }}{{ page.url }}">
                                {{ post.blocks.content|split('<!-- More -->', 2)[0]|striptags }}
                            </a>
                        {% endif %}
                        {% if site.emoji_rodeo_client_id and site.emoji_rodeo_theme %}
                            <div data-rodeo></div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="tags">
                    <p>
                        {% if post.categories|length > 0 %}
                            <bt>Categories:
                                {% for category in post.categories %}<a class="category" href="/categories/{{ category|lower|replace({' ': '-'}) }}/">{{ category }}</a>{% if loop.last == false %} - {% endif %}{% endfor %}
                            </bt>
                        {% endif %}
                        {% if post.tags|length > 0 %}
                            <bt>Tags:
                                {% for tag in post.tags %}<a class="category" href="/tags/{{ tag|lower|replace({' ': '-'}) }}/">{{ tag }}</a>{% if loop.last == false %} - {% endif %}{% endfor %}
                            </bt>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="comments">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <section id="comment">
                    <div id="commento"></div>
                </section>
            </div>
        </div>
    </div>
</div>
